# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IDE specific
.idea/
.vscode/
*.iml
*.ipr
*.iws
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/Debug.xcconfig
app/ios/Flutter/Release.xcconfig
app/ios/Flutter/app.flx
app/ios/Flutter/App.framework
app/ios/Flutter/Flutter.framework
app/ios/Runner/GeneratedPluginRegistrant.*
app/ios/Runner.xcworkspace
app/ios/Runner.xcodeproj/project.xcworkspace/
app/ios/Runner.xcodeproj/xcuserdata/
app/macos/Flutter/Generated.xcconfig
app/macos/Flutter/Debug.xcconfig
app/macos/Flutter/Release.xcconfig
app/macos/Flutter/app.flx
app/macos/Flutter/App.framework
app/macos/Flutter/Flutter.framework
app/macos/Pods/
app/macos/.symlinks/
app/macos/Runner/GeneratedPluginRegistrant.*
app/macos/Runner.xcworkspace
app/macos/Runner.xcodeproj/project.xcworkspace/
app/macos/Runner.xcodeproj/xcuserdata/
app/android/.gradle/
app/android/app/build/
app/android/build/
app/android/app/release/
app/android/app/profile/
app/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
app/windows/flutter/generated_plugins.cmake
app/windows/runner/Debug/
app/windows/runner/Release/
app/windows/runner/Profile/
app/windows/.vs/
app/linux/flutter/generated_plugins.cmake
app/linux/Debug/
app/linux/Release/
app/linux/Profile/
app/web/build/
app/web/.dart_tool/

# Packages
packages/**/.dart_tool/
packages/**/.packages
packages/**/build/
packages/**/*.iml
packages/**/*.ipr
packages/**/*.iws
packages/**/.idea/
packages/**/.vscode/

# Melos
.melos_cache/